@font-face {
    font-family: Playfair;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Playfair;
    src: url(../fonts/Ubuntu-Light.ttf);
}

html {
    box-sizing: border-box;
}

img {
    display: inline-block;
    max-width: 419px;
    margin-bottom: 32px;
    padding: 0;
}


.wrapper-head {
    width: 100%;
    text-align: center;
    margin: 77px auto 103px;
}

ul {
    padding-inline-start: 0px;
}

li.menu-item {
    text-align: center;
    margin: 0 3rem;
    display: inline-block;
}

.menu-list li:not(:last-child) {
    margin-right: 107px;
}

.menu-item a:hover {
    color:#03a9f4;
       font-weight: absolute; 
}

.menu-item a {
    font-family: 'Playfair', serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

.wrapper {
    width: 901px;
    margin: 0 auto;
}

.content-list {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.content-list li {
    list-style: none;
    width: 419px;
    margin-right: 59px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

.content-list li:nth-child(2n) {
    margin-right: 0;
}

.foreword {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    line-height: 17px;
    font-size: 14px;
    color: #b4ad9e;
    margin-bottom: 28px;
}

h2 {
    font-family: 'Playfair', serif;
    font-size: 30px;
    line-height: 36px;
    color: #626262;
    margin-bottom: 41px;
}

p.article {
    font-family: 'Playfair', serif;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    margin-bottom: 135px;
}

li>p.article:nth-last-of-type(-n+2) {
    margin-bottom: 57px;
}

.button {
    margin-bottom: 70px;
    text-align: center;
}

.lean-more {
    border: 1px solid #626262;
    margin: 0;
    padding: 16px 21px 16px 21px;
    background: none;
    font-size: 20px;
    color: #626262;
}