$main-font-family:'Montserrat', sans-serif;
$main-font: 14px;
$secondary-font-family:'Kaushan Script';
$additional-font-family:'Roboto', sans-serif;
$main-nav-color: #ffffff;
$animation-color:  #fce38a;
$main-content-color: #333333;
$animation-color-services: #f38181;
$svg-icon-color:  #95e1d3;
$main-text-color: #999999;
$team-name-color:  #f38181;
$email-item-color: #cccccc;
$main-margin: 0 auto;